body{
    background-color: red;
    transition: 1s;
}

.container{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

h1{
    position: fixed;
    margin-bottom: 5em;
}

button{
    padding: 1rem;
    font-size: 1rem;
}

